body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet', sans-serif
	font-size: 16px; /*1em*/
	margin: 0px auto; /*centrado pantalla*/
	max-width: 1078px; /*cliente*/
	min-width: 1078px;
}

header{
	margin-bottom: -33px;
}

#biciImagen{
	width: 450px;
}

#buy{
	margin-left: 650px;
	margin-top: 80px;
	position: relative;
	bottom: 110px;
}

#izquierda{
	margin-left: 45px;
}

#goShop{
	float: right;
	margin-right: 130px;
	margin-bottom: 40px;
	position: relative;
	bottom: 110px;
}

#lineaPunteada{
	border-bottom: dashed gray 1px;
}

#menu li{
	font-family: sans-serif;
	font-weight: bold;
	list-style: none;
	display: inline-block;
	margin-left: 25px;
	margin-top: 40px;
	position: relative;
	right: 50px;
}

#secc01{
	border-top: dashed gray 2px;
}

#secc01 article{
	display: inline-block;
	vertical-align: top;
}

#secc01 article article img{
	width: 270px;
}

#secc01artInside img{
	margin-top: 40px;
	width: 260px;
}

#secc01art01{
	/*border: dashed;*/
	margin-bottom: 10px;
	width: 55%;
}

#secc01art02{
	/*border: solid;*/
	margin-left: 40px;
	width: 25%;
}

#titulo{
	font-size: 70px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
}

#verde{
	color: #39ff14;
}

#years5{
	bottom: 125px;
	position: relative;
}

.derechaLogos{
	margin-left: 10px;
	float: right;
}

.footer{
	color: gray;
	display: inline-block;
	vertical-align: top;
	width: 19%;
}

.gris{
	color: gray;
	font-family: sans-serif;
}

.puntas{
	border-bottom: dashed gray 1px;
	padding-bottom: 10px;
}

